@charset "utf-8";
/* 共用css */
* {
    margin: 0;
    padding: 0
}

body {
    font: 16px "Consolas", Arial, Helvetica, sans-serif;
    color: #555;
    background: #f1f1f1;
    line-height: 1.5;
}

img {
    border: 0;
    display: block;
    margin: auto;
}

ul, li {
    list-style: none;
}

/*默认链接颜色 */
a {
    text-decoration: none;
    color: #555
}

.clear {
    clear: both;
}

.blank {
    height: 20px;
    overflow: hidden;
    width: 100%;
    margin: auto;
    clear: both
}

.f_l {
    float: left
}

.f_r {
    float: right
}

.line64 {
    height: 64px;
    width: 100%
}


/* header */
header {
    width: 100%;
    color: #FFF;
    background: #333;
    line-height: 64px;
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 100
}

.user-login {
    float: left;
    font-size: 14px;
}

#username a {
    font-size: 24px;
    color: white;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.login-btn {
    border-radius: 4px;
    border: 0.5px #f1f1f1 solid;
    width: 48px;
    padding: 4px;
    font-size: 14px;
    background: transparent;
}

.login-btn a {
    color: white;
}

.register-btn {
    border-radius: 4px;
    border: 0.5px #f1f1f1 solid;
    width: 48px;
    padding: 4px;
    font-size: 14px;
    background: white;
}

.register-btn {
    color: black;
}

#mnav {
    width: 1200px;
    margin: auto
}

#mnavh {
    display: none;
    width: 30px;
    height: 40px;
    float: right;
    text-align: center;
    padding: 0 5px
}

#starlist {
    float: right;
    margin-right: 10px;
}

#starlist a {
    color: #FFF
}

#starlist li {
    float: left;
    display: block;
    padding: 0 0 0 40px;
    font-size: 18px;
    font-weight: bold;
}

#starlist li:hover a {
    color: #009a61;
    text-decoration: underline
}

.navicon {
    display: block;
    position: relative;
    width: 30px;
    height: 5px;
    background-color: #FFFFFF;
    margin-top: 20px
}

.navicon:before, .navicon:after {
    content: '';
    display: block;
    width: 30px;
    height: 5px;
    position: absolute;
    background: #FFFFFF;
    -webkit-transition-property: margin, -webkit-transform;
    transition-property: margin, -webkit-transform;
    transition-property: margin, transform;
    transition-property: margin, transform, -webkit-transform;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
}

.navicon:before {
    margin-top: -10px;
}

.navicon:after {
    margin-top: 10px;
}

.open .navicon {
    background: none
}

.open .navicon:before {
    margin-top: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.open .navicon:after {
    margin-top: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.open .navicon:before, .open .navicon:after {
    content: '';
    display: block;
    width: 30px;
    height: 5px;
    position: absolute;
    background: #fff;
}

/* article */
article {
    width: 1200px;
    margin: auto;
    overflow: hidden
}

footer {
    width: 100%;
    background: #333;
    color: #a5a4a4;
    line-height: 32px;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
}

footer a {
    color: #a5a4a4
}
