{% load staticfiles %}
<div class="aboutme">
    <h2 class="ab_title">关于我</h2>
    <div class="avatar">
        {% if user.is_authenticated %}
            <a href="{% url 'user:profile' %}">
                {% if user.profile.img %}
                    <img src="{{ user.profile.img }}" alt="暂无图像"/>
                {% else %}
                    <img src="{% static 'images/avatar.jpg' %}">
                {% endif %}
            </a>
        {% else %}
            <img src="{% static 'images/avatar.jpg' %}">
        {% endif %}
    </div>
    <div class="ab_con">
        {% if user.is_authenticated %}
            <p><b>网名：</b>{{ user.userinfo.nickname }}</p>
            <p><b>职业：</b>{{ user.userinfo.profession }} </p>
            <p><b>现居：</b>{{ user.userinfo.address }}</p>
            <p><b>邮箱：</b>{{ user.email }}</p>
        {% else %}
            <p><b>网名：</b>***</p>
            <p><b>职业：</b>*** </p>
            <p><b>现居：</b>***</p>
            <p><b>邮箱：</b>***</p>
        {% endif %}
    </div>
</div>
<div class="blank"></div>