{% extends 'blog/base.html' %}
{% load staticfiles %}

{% block leftbox %}
    <div class="infos">
        <div class="newsview">
            <h2 class="intitle">您现在的位置是：<a href="/">网站首页</a>&nbsp;&gt;&nbsp;<a href="/">关于我</a></h2>
            <div class="news_infos">
                <p>SamBrother，一个80后草根码农！12年入行，从事Android系统的客制化定制工作，从最初的Android4.0系统到如今的8.0系统，
                    改过自己也数不清的客制化Android定制机系统版本。从最初的系统源码到应用层的定制，从嵌入式驱动调试到Android应用APP的开发，
                    几乎全部涉及过。如今正在学习Python程序开发。</p>
                <p> 喜欢一句话“冥冥中该来则来，无处可逃”。</p>
            </div>
        </div>
    </div>
    <div class="news_pl">
        <h2>我要留言</h2>
        <ul></ul>
    </div>
{% endblock %}

