{% load staticfiles %}
<!-- Partialviewslider JS -->
<link rel="stylesheet" type="text/css" href="{% static 'css/partialviewslider.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}"/><!--CSS RESET-->
<link rel="stylesheet" href="{% static 'css/font-awesome.css' %}" type="text/css">
<style type="text/css">
    /*reset*/
    body {
        margin: 0;
        overflow-x: hidden;
    }

    img {
        max-width: 100%;
        max-height: 400px
    }

    i.material-icons {
        vertical-align: sub;
        font-size: 110%;
    }

    .container {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        border-radius: 10px;
    }
</style>


<div class="container">
    <ul id="partial-view">
        {% for image in images %}
            <li>
                <img src="{{ image.img.url }}"/>
            </li>
        {% empty %}
            <li>
                <img src="{% static 'images/img_01.jpg' %}"/>
            </li>
            <li>
                <img src="{% static 'images/img_02.jpg' %}"/>
            </li>
            <li>
                <img src="{% static 'images/img_03.jpg' %}"/>
            </li>
            <li>
                <img src="{% static 'images/img_04.jpg' %}"/>
            </li>
            <li>
                <img src="{% static 'images/img_05.jpg' %}"/>
            </li>
        {% endfor %}
    </ul>
    <!--
    <button id="prev">Prev</button>
    <button id="next">Next</button>
    <button id="play">Play</button>
    <button id="pause">Pause</button>
    -->
</div>
<div class="blank"></div>
<script src="{% static 'js/partialviewslider.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#partial-view').partialViewSlider()
    });
</script>