{% extends 'base.html' %}
{% load staticfiles %}
{% load blog_tags %}
<!-- 标题 -->
{% block title %}
    <title>Sam's Blog</title>
{% endblock %}

<!-- 左边 -->
{% block leftbox %}
    <div class="leftbox">
        <div class="infos">
            <div class="newsview">
                <h2 class="intitle">您现在的位置是：<a href="/">网站首页</a>&nbsp;&gt;&nbsp;<a href="/">{{ blog.category.name }}</a>
                </h2>
                <h3 class="news_title">{{ blog.title }}</h3>
                <div class="news_author">
                    <span class="au02">{{ blog.create_time }}</span>
                    <span class="au01"><b style="color: #aa0000">{{ blog.comment_set.count }}</b>&nbsp;条评论</span>
                    <span class="au03">共<b style="color: #0000FF">{{ blog.click_nums }}</b>人围观</span>
                </div>
                <div class="tags">
                    {% for tag in blog.tag.all %}
                        <a href="{% url 'blog:tag' tag.pk %}">{{ tag.name }}</a>
                    {% endfor %}
                    <script type="text/javascript">
                        $(function () {
                            //random modify background of tags
                            let obj = $(".tags a");
                            let str = '0123456789abcdef';
                            let color = '';

                            for (let i = 0; i < obj.length; i++) {
                                for (let j = 0; j < 6; j++) {
                                    color += str.substr(parseInt(Math.random() * str.length), 1);
                                }
                                $(obj[i]).css('background', '#' + color);
                                color = '';
                            }
                        });
                    </script>
                </div>
                <div class="news_infos">
                    {{ blog.content|safe }}
                </div>
            </div>

            <!--分享-->
            <div class="share">
                <div class="diggit" id="like">
                    <span>很赞哦！(<b id="diggnum">{{ blog.likes }}</b>)</span>
                    <script type="text/javascript">
                        //点赞
                        $("#like").click(function () {
                            $.ajax({
                                url: "{% url 'blog:add_likes' %}",
                                type: "POST",
                                data: {
                                    "pk":{{blog.pk}},
                                },
                                success: function (data) {
                                    $("#diggnum").text(data.num);
                                    //window.location.reload();
                                },
                            });
                        });
                    </script>
                </div>
                {% include 'blog/reward.html' %}
            </div>
            <!--share end-->
        </div>

        <!--上下篇-->
        <div class="nextinfo">
            {% if previous_blog %}
                <p>上一篇：<a class="prev" href="{{ previous_blog.get_absolute_url }}">
                    {{ previous_blog.title }}</a>
                </p>
            {% endif %}
            {% if previous_blog %}
                <p>下一篇：<a class="next" href="{{ next_blog.get_absolute_url }}">
                    {{ next_blog.title }}</a>
                </p>
            {% endif %}
        </div>

        <!--otherlink-->
        <div class="otherlink">
            <h2>相关文章</h2>
            <ul>
                <li><a href="/" title="云南之行――丽江古镇玉龙雪山">云南之行――丽江古镇玉龙雪山</a></li>
                <li><a href="/" title="云南之行――大理洱海一日游">云南之行――大理洱海一日游</a></li>
                <li><a href="/" target="_blank">住在手机里的朋友</a></li>
                <li><a href="/" target="_blank">豪雅手机正式发布! 在法国全手工打造的奢侈品</a></li>
                <li><a href="/" target="_blank">教你怎样用欠费手机拨打电话</a></li>
                <li><a href="/" target="_blank">原来以为，一个人的勇敢是，删掉他的手机号码...</a></li>
            </ul>
        </div>

        <!--评论区-->
        {% include 'comment/comments.html' %}
    </div>
{% endblock %}

<!-- 搜索 -->
<!-- 搜索 -->
{% block search %}
    {% include 'blog/search_keywords.html' %}
{% endblock %}

<!-- 排行 -->
{% block paihang %}
    <!-- 博客分类 -->
    {% include 'blog/blog_category.html' %}
    <!-- 最近文章 -->
    {% include 'blog/recent_blogs.html' %}
    <!-- 归档 -->
    {% include 'blog/archives.html' %}
    <!-- 标签云 -->
    {% include 'blog/tags.html' %}
{% endblock %}

<!-- 友情链接 -->
{% block links %}
    {% include 'blog/links.html' %}
{% endblock %}
