{% extends 'base.html' %}
{% load staticfiles %}
{% load blog_tags %}
<!-- 标题 -->
{% block title %}
    <title>Sam's Blog</title>
{% endblock %}

<!--  轮播图 -->
{% block banner %}
    {% include 'blog/banner.html' %}
{% endblock %}

<!-- hometitle -->
{% block hometitle %}
    <h2 class="hometitle">最新文章</h2>
{% endblock %}

<!-- 左边 -->
{% block bloglist %}
    {% include 'blog/blog_list.html' %}
{% endblock %}

<!-- 搜索 -->
{% block search %}
    {% include 'blog/search_keywords.html' %}
{% endblock %}

<!-- 关于 -->
{% block aboutme %}
    {% include 'blog/about.html' %}
{% endblock %}

<!-- 排行 -->
{% block paihang %}
    {% include 'blog/blog_category.html' %}
    {% include 'blog/recent_blogs.html' %}
    {% include 'blog/archives.html' %}
    {% include 'blog/tags.html' %}
{% endblock %}

<!-- 友情链接 -->
{% block links %}
    {% include 'blog/links.html' %}
{% endblock %}
